*.pyc
obot.py
delcauto.py
*.json
discordCount.txt
discordLog.txt
important/playerlist.txt
important/rooms.txt
commands/_R.txt
important/ident/*
deadline.txt
discordCountPersist.txt
important/battlelog.txt
important/shiplog.txt
important/sub.txt
p1.txt
p10.txt
p2.txt
p3.txt
p4.txt
p5.txt
p6.txt
p7.txt
p8.txt
p9.txt
torchFrom.txt
torchTo.txt
lucky
important/lucky.txt
updater.py
voter.py
nohup.out
logger.py
important/userdata.db

.vscode/*
.idea/*
